---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Fell English";
    src: url("../website/fonts/IMFeENrm29P.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Fell English";
    src: url("../website/fonts/IMFeENit29P.ttf");
    font-style: italic, oblique;
}
